Param p1 is {{p1}}
Param p2 is {{p2}}

This is "mylist"

{% for f in mylist -%}
Item ... {{ f }}
{% endfor %}

This is "list":
{% for f in list -%}
Item ... {{ f }}
{% endfor %}

{{c.b}}I am blue{{c.0}}
{{C.R}}I am bright red{{C.0}}
